body {
    content: "";
    font-family: "Century Schoolbook";
    font-size: 1.2vw;
    position: relative;
    margin: 0;
    background-image: url(images/background.png);
    background-repeat: repeat-y;
    background-color: white;
    background-blend-mode: multiply;
}
a:link {
    color: blue;
    font-weight: bold;
}
a:visited {
    color: purple;
    font-weight: normal;
}
h2 {
    line-height: 1.5em;
    border: .5vw;
    border-style: ridge;
    border-style: outset;
    border-color: blue;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    text-align: center;
    color: #00204f;
    padding: 1vw;
    font-size: 2.5em;
    margin-top: 0;
}
p,
ul {
    line-height: 1.5em;
    border: .5vw;
    border-style: ridge;
    border-style: outset;
    border-color: purple;
    background-color: white;
    color: black;
    width: 90%;
    opacity: 0.9;
    border-radius: 10px;
    padding: 1vw;
    font-size: 1.25em;
    margin: 1vw auto;
}
nav {
    text-align: center;
}
h1,
h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
}
img.bio{
    background-color: white;
    flex: 0;
    width: 25vw;
    min-height: 25%;
    display: block;
    border: .7vw;
    border-style: outset;
    border-color: teal;
}
.character_name {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: auto;
    margin-top: 0;
}
p.characters {
    flex: 1;
}
section.characters {
    display: flex;
    align-items: normal;
    flex-direction: row;
    width: 100%;
}
nav#menu {
    padding: 2vw;
}

.button {
    border: .5vw;
    border-style: outset;
    border-color: yellow;
    padding: 1.7vw;
    background-color: white;
    opacity: .9;
    width: 7vw;
    display: inline;
    border-radius: 20px;
    margin: 0 10px;
}
figure {
    width: 50%;
}
figure img {
    border: .7vw groove red;
    border-radius: 1vw;
    padding: .5vw;
}
figure.widescreen {
    width: 100%
}
figcaption {
    line-height: 1.1em;
    border: .3vw;
    border-style: groove;
    border-style: outset;
    border-color: rgb(106, 34, 130);
    background-color: #f2e6ff;
}
img {
    width: 75%
}
img.centerIMG {
    max-width: 60vw;
    max-height: 45vw;
    overflow: auto;
    border-color: gold;
    border-radius: 10px;
    border-style: outset;
    margin: 20px auto;
    display: block;
}
img.centerIMGSmall {
    max-width: 40vw;
    max-height: 30vw;
    overflow: auto;
    border-color: gold;
    border-radius: 5px;
    border-style: outset;
    margin: 20px auto;
    display: block;
}
section {
    width: 80%;
    margin: auto;
}
iframe.itchio{
    margin: auto;
    display: block;
}
iframe.youtube {
    width: 60vw;
    height: 38vw;
    border-color: pink;
    border-radius: 10px;
    border-style: outset;
    margin: 20px auto;
    display: block;
}
section.gallery {
    display: flex;
    width: 100%;
}
section#kumu {
    display: flex;
    width: 80%;
    margin: auto;
}
div#kumuDIV {
    flex: 4;
    border: .5vw;
    border-style: groove;
    border-style: outset;
    border-color: #cc00cc;

}
iframe#kumuID {
    width: 100%;
    height: 700px;

}
p#kumuDesc {
    width: 10%;
    flex: 1;
}

img#license {
    width: 10%;
}